/* COLOR DATA */
:root {
    font-size: 14pt;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Fredoka', sans-serif;
    --main-font-color: #031105;
    /* --main-background-color: rgb(252, 187, 187); */
    /* --main-background-color: rgb(105, 190, 80); */
    --main-green:#5ae468;
    --main-green-light:#8eff99;
    --main-green-dark:#2bbd39;
    --main-red: #ff5a5a;
}
*{
    font-family: 'Fredoka', sans-serif;
}
body {
    background-color: var(--main-green);
}

/* LAYOUT */
.container {
    display: flex;
    justify-content: center; 
}

.break {
    height: 0;
    flex-basis: 100;
}

.emoji {
    display: inline-block;
}

.timer-section {
    text-align: center;
    padding: 60px;
    background-color: var(--main-green-light);
    border-radius: 50px;
    margin: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.466);

}

/* ELEMENT STYLING */
button {
    border-radius: 20px;
    font-size: 2rem;
    padding: 10px;
    background-color: white;
    border: none;
    margin: 20px;
    background-color: var(--main-green);
    
    
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.2s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6);
  }

/* TYPOGROPHY */
#title {
    /* font-weight: bold; */
    font-size: 4rem;
    text-align: center;
    padding: 10px;
    background-color: var(--main-red);
    color: #000000;
}

#timer {
    font-size: 9rem;
}


/* HELPER */
.red-border {
    border: solid 2px red;
}

.green-border {
    border: solid 2px green;
}

.blue-border {
    border: solid 2px blue;
}